<pre class="player-sokoban"></pre>
<textarea class="form-control enter-sokoban" rows="7">
####
# .#
#  ###
#*@  #
#  $ #
#  ###
#### 
</textarea>
<button type="button" class="btn btn-primary play">Play</button>

<pre class="ai-sokoban">
####
# .#
#  ###
#*@  #
#  $ #
#  ###
#### 
</pre>
<div class="ai-sokoban-moves">d, u, u</div>
<button type="button" class="btn btn-primary move">move</button>